<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lee.mapper.BlogVoteMapper">
  <resultMap id="BaseResultMap" type="com.lee.pojo.BlogVote">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="blog_id" jdbcType="BIGINT" property="blogId" />
    <result column="vote_id" jdbcType="BIGINT" property="voteId" />
  </resultMap>
</mapper>