<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lee.mapper.NotifyMapper">
  <resultMap id="BaseResultMap" type="com.lee.pojo.Notify">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="user1" jdbcType="BIGINT" property="user1" />
    <id column="user2" jdbcType="BIGINT" property="user2" />
    <id column="operation_id" jdbcType="INTEGER" property="operationId" />
    <id column="is_new" jdbcType="INTEGER" property="isNew" />
    <id column="blog_id" jdbcType="BIGINT" property="blogId" />
  </resultMap>



</mapper>